.wrapper {
  width: 100%;
  padding: 20px 0;
}

.swiper {
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  /* gap: 0.75rem; */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}


.text {
  font-size: 0.95rem;
  color: #222;
  line-height: 1.4;
  text-align: center;
}


:global(.swiper-pagination-bullet) {
  background: #999;
  opacity: 0.4;
}

:global(.swiper-pagination-bullet-active) {
  background: #000;
  opacity: 1;
}


@media(max-width: 768px) {
  .card {
    width: 150px;
    height: 150px;
  }
  
  .image {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}


@media (max-width: 468px) {
  .imageWrapper {
    height: 95px;
  }

  .text {
    display: none;
  }

  .swiper {
  padding-bottom: .5rem;
}
}