.flashSales {
  padding: 40px 20px;
  background: #fafafa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  background-color: red;
  padding: 10px;
}

.header h2 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

.header p {
  color: #fff;
  font-size: 14px;
}

.seeAll {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 14px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ef4444;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.image {
  object-fit: contain;
}

.card h3 {
  font-size: 15px;
  margin: 6px 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
}

.price {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 6px 0;
}

.salePrice {
  color: #ef4444;
  font-weight: 700;
}

.originalPrice {
  text-decoration: line-through;
  color: #999;
  font-size: 13px;
}

.timer {
  font-size: 13px;
  margin: 8px 0;
  font-weight: 600;
  color: #111;
}

.stockBar {
  background: #eee;
  height: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 4px;
}

.stockBar div {
  height: 100%;
  background: #22c55e;
}

.cartBtn {
  margin-top: 10px;
  width: 100%;
  border: none;
  background: #111;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.cartBtn:hover {
  background: #000;
}

.flashanimation {
  height: 50px;
}