.slider {
  height: 500px;
  width: 100%;
  border-radius: 0.5rem; 
  overflow: hidden;
  /* margin-top: 30px; */
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media(max-width: 768px) {
  .image {
    width: 100%;
    object-fit: fill;
  }
}