.slider {
  height: 450px;
  width: 100%;
  border-radius: 0.5rem; 
  overflow: hidden;
  /* padding: 5px 0; */
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media(max-width: 768px) {
  .image {
    width: 100%;
    /* height: 500px; */
    object-fit: fill;
  }
}

@media(max-width: 480px) {

  .slider {
    height: 300px;
  }
  .image {
    width: 100%;
    object-fit: contain;
  }

  .slide {
    height: 250px;
  }
}